.navigation {
  height: 30px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--nav-color);
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.navigation__pagination {
  display: grid;
  place-items: center;
}
